body{
   
    min-height: 100svh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
   
}

body {
    background-image: 
    linear-gradient(
        to left, #966262, #242424
    );
}

html{
    height: auto;
}
 
*{
    box-sizing: border-box;
   
}

/* HEADER */

header{
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header h2{
    margin: 0;
}
header h1{
    margin: 0px;
    font-size: 40px;
}

/* CARDS */

.slider{    
    position: absolute;
    top: 220px;
    width: 90vw;  
    height: 370px;
    overflow: hidden;  
    
}

.item {
    position: absolute;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px;
    flex-direction: column;
    width: 200px;
    height: 300px;   
    border-radius: 10px;
    border-style: groove;
    border-color: #242424;
    border-width: 3px;
    transition: 0.5s; 
    left: calc(50% - 100px);     
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-image: linear-gradient(to top right, #ffdfdf, #d1d1d1);
    color: #fff;
}

.item h1{
    font-size: 20px;
    display: -webkit-box;
  -webkit-line-clamp: 2; /* Display two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0;
}

.item .img-container{
    height: 60%;
    width: 70%;
    padding-bottom: 30px;
}

.item .img-container img{
    height: 100%;  
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
#next, #prev{
    position: absolute;
    top: 370px;
    transform: translateY(-50%);
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: calc(50% - 200px);
    cursor: pointer;
}

#next{
    left: unset;
    right: calc(50% - 200px);
    z-index: 10;   
}

.random-beers{
    display: contents;
}

/* SEARCH FORM */
.search-bar {
    position: absolute;
    top: 670px;
	display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 4em;
	height: 4em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 290px;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}

.search-bar input::placeholder {
    color: transparent;
}

/* Placeholder color when input is focused */
.search-bar input:focus::placeholder {
    color: #888787; /* Adjust the color to your preference */
}
.search-bar input {
    font-family: "Poppins", sans-serif;
	background: transparent;
	border-radius: 2em;
	box-shadow: 0 0 0 0.4em #888787 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.5em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
    width:70px;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.5em;
	height: 1.5em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.5em,0) rotate(45deg);
	transform-origin: 0 50%;    
   
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}


.read-more-btn{
    background:  linear-gradient(
        to top left, #966262, #242424
    );
	border-radius: 0.375em;
	transform: scale(1);
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: 500;
}

.read-more-btn:hover{
    background: linear-gradient(
        to top left, #5c3a3a, #242424
    );
}


.read-more {      
    color: #000;  
    padding: 15px; 
    flex-direction: column;      
    border-radius: 10px;    
    border-style: groove;
    border-color: #242424;
    border-width: 3px;
    transition: 0.5s;   
    text-align: left;
    display: flex;   
    align-items: flex-start;
    width: 370px;
    height: 450px;
    overflow: auto;
    overflow-x: hidden;
    gap: 3px;
    z-index: 9999; /* Set a high z-index */
    position: absolute;
    left: 50%;
    top: 435px;   
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-image: linear-gradient(to top right, #ffdfdf, #d1d1d1);  
    animation: expand 0.3s linear forwards; /* Define the animation */
    --scrollbar-gradient: linear-gradient(to bottom, #5c3434, #242424);
}

@keyframes expand {
    from {
        transform: scale(0.1) translate(-100%, -100%);
        top: 290px;
        left: 120px;
    }
    to {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes contract {
    from {
        transform: scale(1) translate(-50%, -50%);
    }
    to {
        transform: scale(0.1) translate(-50%, -50%);
        top: 260px;
        left: 40px;
    }
}


.read-more::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Track */
.read-more::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent background for the scrollbar track */
}

/* Handle */
.read-more::-webkit-scrollbar-thumb {
    background: var(--scrollbar-gradient); /* Use CSS variable for gradient */
    border-radius: 10px; /* Border radius for the scrollbar handle */
}

/* Hide scrollbar */
.read-more::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}



.hider{
    display: none;
}

.title-img{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 0;
    height: 80px;
    gap: 10px;
    width: 95%;
    margin-bottom: 0; 
}

.title-img h1{
    font-size: 20px;
    line-height: 20px;
    display: -webkit-box;
  -webkit-line-clamp: 2; /* Display two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 8px;
}

.title-img img{
    position: relative;
    height: 80%;
    width: auto;
    top: 0px;
    right: 0px;
}

.read-more .tagline{
    display: contents;
    margin-top: 0px;
    font-style: italic;
    font-size: 14px;
}

.exit-btn{
    position: absolute;
    top: -1px;
    right: -1px;
    font-size:20px;
    font-weight: 600;
    transition: 0.2s;
    color:black;
    cursor: pointer;
    padding: 5px 10px;

}
.read-more:hover .exit-btn {
    color:black;    
}

.exit-btn:hover{
  font-size: 24px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #966262;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #5c3a3a;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
        background-image: 
        linear-gradient(
            to left, #966262, #242424
        );
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}


.search-results{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 750px;
    width:250px;
    border-width: 3px;    
  

    margin-top: -5px; 
    padding: 10px;  
    gap:3px;
 
}

.result{
    display: flex;
    flex-direction: row;  
    border-bottom: 2px solid #9c9c9c;
    border-radius: 5px;
    padding-left: 5px;
    color: #ffffff;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    box-shadow: rgba(121, 121, 121, 0.15) 0px 2px 8px;
}